



/*------------animazione-----------------------------*/
@keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
    /*animation-timing-function: steps(60) linear;*/
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
    /*animation-timing-function: steps(60) linear;*/
  }

  
  /*grid system-------------------------------------------*/
  .myContainer{
    width: 99vw;
    height: 100vh;
  }

  .clockContainer{
    display: grid;
    height: inherit;
    grid-template-columns: 25%  25% 25% 25%;
    grid-gap : 1px;
    background-color: #000;
    color: white;
  }

  .clockContainer > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  
  .clock{
    background-color: white;
    color : #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    display: flex;
    align-content: center;
    justify-items: center;
    position: relative;
  }

  /* -------------------------my clock--------------------------*/
  .clockME {
    border-radius: 50%;
    border: 5px solid black;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .clockMeTo {
    border-radius: 50%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    
  }

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }



.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }

  .seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
  }
